body {
    font-family: "Rubik", sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
}

.jumbotron {
    /*position: relative;*/
    background: #000 url("../images/Banner.jpg") center center;
    width: 100%;
    height: 340px;
    background-size: cover;
    overflow: hidden;
}
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #222222;
    padding: 25px;
}


.form-control:focus {
    border-color: #ffda31;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 218, 49, 0.5);
}

img.logoto {
    width: 170px;
    height: 90px;
}

.top-nav {
    background: white;
    padding: 5px;
}

.search {
    padding-top: 30px;
}

.log-in-reg {
    padding-top: 35px;
    padding-left: 0px;
    list-style: none;
}

.log-in-reg > li {
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    font-weight: bold;
}

.log-in-reg > li a {
    color: black;
    text-decoration: none;
}
.log-in-reg > li a:hover {
    color: #ffda31;
}

.navigation {
    background: #FFDA31;
    text-align: center;
    list-style:none;
}

.navigation > li {
    border-right: 1px solid #ffe984;
    /*text-align: center;*/
    padding: 10px 35px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.navigation > li:first-child{
    border-left:1px solid #ffe984 ;
}

.navigation > li a {
    color: black;
    text-decoration: none;
}

.navigation > li:hover {
    cursor: pointer;
    background-color: #ffe984;
}

/*.search-form{*/
    /*padding: 20px;*/
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
/*}*/

h2 {
    text-align: center;
    margin-bottom: 40px;
}

#success_message { 
    display: none;
    }

.hidden {
    display: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #101010;
    padding: 25px;
}
/*user registration form and login form css*/


.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

/*user profile css*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 10;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top:20px;
}
#viewSearch{
    display: none;
}

/* loader */
.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #5982db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*!* fix bug with slider width *!*/
/*.img-responsive{*/
    /*min-height: 220px;*/
    /*max-height: 220px;*/
/*}*/

#search-form{
    display: none;
}

.copyright-footer {
    color: #ffe984;
    margin-top: 65px; 
}

#fb-page {
    border: 2px solid #ffe984;
}

.errorInput::-webkit-input-placeholder {
    color: red;
}
.errorInput:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.errorInput::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.errorInput:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

/* grow effect */

.hvr-grow {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
}