<div id="home-page-results">
            <form class="form-horizontal search-form animated fadeInUp" />
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Town</label>
                    <select class="form-control">
                    <option value="1">Sofia</option>
                    <option value="3">Plovdiv</option>
                    <option value="2">Burgas</option>
                </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Manufacturer</label>
                    <select class="form-control">
                        <option value="1">BMW</option>
                        <option value="3">Mercedes</option>
                        <option value="2">Trabant</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Model</label>
                    <select class="form-control">
                        <option value="1">156</option>
                        <option value="3">alfa</option>
                        <option value="2">kadet</option>
                    </select>
                </div>
            </div>
            <hr class="blabla" />
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Year</label>
                    <select class="form-control">
                        <option value="1">222</option>
                        <option value="3">1113</option>
                        <option value="2">3321</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Тransmission</label>
                    <select class="form-control">
                        <option value="1">Manual</option>
                        <option value="3">Automatic</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Fuel</label>
                    <select class="form-control">
                        <option value="3">Diesel</option>
                        <option value="1">Gasoline</option>
                        <option value="1">Gas-Gasoline</option>
                        <option value="2">Methane</option>
                    </select>
                </div>
            </div>
            <hr />

            <div class="container">
                <h2>Results</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BMW</div>
                            <div class="panel-body"><img src="images//no-image.png" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                </div>
            </div><br>

        </div>



        {{!--<div class="container">
                <h2>Резултати</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BMW</div>
                            <div class="panel-body"><img src="images/30-2016-bmw-7-series.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">FERRARI</div>
                            <div class="panel-body"><img src="images/sporty-hood-of-2016-ferrari-488-with-aerodynamic-grille.jpg" class="img-responsive"
                                    style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BMW</div>
                            <div class="panel-body"><img src="images/manhart-g11-bmw-7-series.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img src="images/sporty-hood-of-2016-ferrari-488-with-aerodynamic-grille.jpg" class="img-responsive"
                                    style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img src="images/best-of-WA-Livigno-2016-0317.jpg" class="img-responsive" style="width:100%"
                                    alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img src="images/manhart-g11-bmw-7-series.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>--}}