<div class="container">

    <div class="page-header">
        <h1>How to find us? <small>See our office on the map below</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{!--https://www.maps.ie/create-google-map/--}}
                <div style="width: 100%">
                    <iframe width="100%" height="600" src="https://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Telerik%20academy+(Our%20office)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=A&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/fr/mesurer-distance-surface-google-maps.html">www.mapsdirections.info</a></iframe>
                </div><br />
            </div>
        </div>
    </div>
</div>