<!-- Dropdown-->
<div class="form-group">
    <label class="col-md-4 control-label">Type</label>
    <div class="col-md-4 inputGroupContainer">
        <select name="type" class="form-control">
            <option value="Class A motorhome">Class A motorhome</option>
            <option value="Class B motorhome (campervan)">Class B motorhome (campervan)</option>
            <option value="Class C motorhome">Class C motorhome</option>
            <option value="Travel trailer">Travel trailer</option>
        </select>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label">Number of sleeping places</label>
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input name="numberOfSleepingPlaces" class="form-control" type="text">
        </div>
    </div>
</div>