<!-- Dropdown-->
<div class="form-group">
    <label class="col-md-4 control-label">Type</label>
    <div class="col-md-4 inputGroupContainer">
        <select name="type" class="form-control">
            <option value="Sedan">Sedan</option>
            <option value="Hatchback">Hatchback</option>
            <option value="Limousine">Limousine</option>
            <option value="Cabriolet">Cabriolet</option>
            <option value="Combi">Combi</option>
            <option value="Jeep">Jeep</option>
            <option value="Coupe">Coupe</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">Number of doors</label>
    <div class="col-md-4 inputGroupContainer">
        <select name="numberOfDoors" class="form-control">
            <option value=""></option>
            <option value="2/3">2/3</option>
            <option value="4/5">4/5</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">Number of seats</label>
    <div class="col-md-4 inputGroupContainer">
        <select name="numberOfSeats" class="form-control">
            <option value=""></option>
            <option value="4+1">4+1</option>
            <option value="2">2</option>
            <option value="6+1">6+1</option>
        </select>
    </div>
</div>