<h1>HI</h1>
<form id="createAd-form" class="form-horizontal" method="POST" action="#/home">
	<div class="row">
		<div class="col-md-4">
			<label class="control-label">тип</label>
			<select id="createAd-town" class="form-control">
				<option value="1">Кола</option>
				<option value="3">Мотор</option>
				<option value="2">садс</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="control-label">Град</label>
			<select id="createAd-town1" class="form-control">
				<option value="1">София</option>
				<option value="3">Пловдив</option>
				<option value="2">Бургас</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="control-label">Град</label>
			<select id="createAd-town2" class="form-control">
				<option value="1">София</option>
				<option value="3">Пловдив</option>
				<option value="2">Бургас</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="control-label">Град</label>
			<select id="createAd-town3" class="form-control">
				<option value="1">София</option>
				<option value="3">Пловдив</option>
				<option value="2">Бургас</option>
			</select>
		</div>

		<div id="cars-selections">
			<div class="col-md-4">
				<label class="control-label">доп коли</label>
				<select id="createAd-town3" class="form-control">
					<option value="1">София</option>
					<option value="3">Пловдив</option>
					<option value="2">Бургас</option>
				</select>
			</div>
		</div>

		<div id="motor-selections">
			<div class="col-md-4">
				<label class="control-label">доп мотори</label>
				<select id="createAd-town3" class="form-control">
					<option value="1">София</option>
					<option value="3">Пловдив</option>
					<option value="2">Бургас</option>
				</select>
			</div>
		</div>

		<div id="truck-selections">
			<div id="camper-selections">
				<div class="col-md-4">
					<label class="control-label">доп камиони</label>
					<select id="createAd-town3" class="form-control">
					<option value="1">София</option>
					<option value="3">Пловдив</option>
					<option value="2">Бургас</option>
				</select>
				</div>
			</div>
		</div>

		<div id="camper-selections">
			<div class="col-md-4">
				<label class="control-label">доп кемтери</label>
				<select id="createAd-town3" class="form-control">
					<option value="1">София</option>
					<option value="3">Пловдив</option>
					<option value="2">Бургас</option>
				</select>
			</div>
		</div>

	</div>
	<div class="form-group ">
		<button id="createAd-button" type="submit" class="btn btn-primary btn-lg btn-block login-button">Create</button>
	</div>

</form>