<!-- Dropdown-->
<div class="form-group">
    <label class="col-md-4 control-label">Type</label>
    <div class="col-md-4 inputGroupContainer">
        <select name="type" class="form-control">
            <option value="Sport bike">Sport bike</option>
            <option value="Cruiser">Cruiser</option>
            <option value="Touring">Touring</option>
            <option value="Sport touring">Sport touring</option>
            <option value="Dual-sport">Dual-sport</option>
            <option value="Scooter">Scooter</option>
            <option value="Off-road">Off-road</option>
        </select>
    </div>
</div>